@using ManagementCentral.Models;
@using ManagementCentral.Contracts.Services;

<h3>Statistics</h3>

<div class="row">
    <label class="form-label">Total devices:</label>
    <label type="text" readonly class="form-label">@DevicesCount</label>
</div>
<div class="row">
    <label class="form-label">Active devices:</label>
    <label type="text" readonly class="form-label">@ActiveDevicesCount</label>
</div>
<div class="row">
    <label>Last updated device:</label>
    <div class="row">
        <label type="text" class="form-label">Type:</label>
        <label type="text" readonly class="form-label">@LastEditedDevice.Type</label>
    </div>
    <div class="row">
        <label type="text" class="form-label">Device ID:</label>
        <label type="text" readonly class="form-label">@LastEditedDevice.Id</label>
    </div>
    <div class="row">
        <label type="text" class="form-label">Update date:</label>
        <label type="text" readonly class="form-label">@LastEditedDevice.LastEditedOn</label>
    </div>
</div>

@code {
    [Inject]
    public IDeviceDataService DeviceDataService { get; set; }

    public int DevicesCount { get; set; }
    public int ActiveDevicesCount { get; set; }
    public Device? LastEditedDevice { get; set; }

    protected override async Task OnInitializedAsync()
    {
        DevicesCount = await DeviceDataService.GetDevicesCount();
        ActiveDevicesCount = await DeviceDataService.GetActiveDevicesCount();
        LastEditedDevice = await DeviceDataService.GetLastEditedDevice();
    }
}
