@page "/devices"
@page "/devicesoverview"
@using ManagementCentral.Contracts.Services
@using ManagementCentral.Models
@using ManagementCentral.Services
@rendermode InteractiveServer

<h3>DevicesOverview</h3>
<button><a href="/adddevice">Add device</a></button>

@if (Devices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>Device ID</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in Devices)
                {
                    <tr>
                        <td>@device.Id</td>
                        <td>@device.Location</td>
                        <td>@device.LastEditedOn</td>
                        <td>@device.Type</td>
                        <td>@device.isActive</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    List<Device> Devices = new List<Device>();

    [Inject]
    public IDeviceDataService? DeviceDataService { get; set; }

    protected async override Task OnInitializedAsync()
    
    {
        Devices = (await DeviceDataService.GetDevices()).ToList();
    }
}
